button {
    display: flex;              
    justify-content: center;   
    align-items: center;    
    padding: 10px 20px;       
    border: none;             
    border-radius: 8px;        
    transition: box-shadow 0.3s;
    text-transform: uppercase;
    width: calc(50% - 10px);
    background-color: rgb(6, 167, 86);
    color: #ffff;
    margin-left: 50%;
    &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4)
    }
}

