button {
    display: flex;              
    justify-content: center;   
    align-items: center;    
    padding: 10px 20px;       
    border: none;             
    border-radius: 8px;        
    transition: box-shadow 0.3s;
    text-transform: uppercase;
    width: 150px;
    &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4)
    }
}

.primary {
    background-color: rgb(0, 147, 74);
}