form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  gap: 13px;

  .shortInput {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 13px;
  }

  h2 {
    color: #333;
    font-size: 22px;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
  }

}

// TODO: для переменных
$primary-color: #333;
$input-gap: 13px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$max-width: 480px;
$border-radius: 8px;
$background-color: #fff;


