@import "./vars.scss";

@mixin base-field {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: $field-bg-color;
  border: none;
  border-radius: 4px;
  height: 48px;
}
