@import "../../../styles/mixins.scss";

.component {
  width: 100%;
  display: flex;
  flex-direction: column
}

.datePicker {
  @include base-field;
  padding: 0;
}

.errorMessage {
  color: red;
  font-size: 9px;
  text-align: left;
}

[class="ant-picker-input"],
[class="ant-picker-input ant-picker-input-placeholder"] {
  padding-left: 10px;
  padding-right: 10px;
}
