.ant-picker {
    height: 48px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding: 10px; 
    font-size: 14px; 
    display: flex; 
    
    &:focus,
    &:hover {
      border-color: #40a9ff; 
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); 
    }
  
    .ant-picker-input {
      height: 100%; 
    }

    .ant-picker-suffix {
      top: 50%; 
      transform: translateY(-50%);
    }
  }
