.component {
  position: relative;
  width: 100%;

  .input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    height: 48px;
    padding-bottom: 0;

    &_error {
      border: 1px solid red;
    }

    &:focus + .label,
    &:not(:placeholder-shown) + .label {
      top: 10px;
      font-size: 12px;
    }

    &:focus {
      border: none; 
      outline: 1px solid #44b766; 
    }
  }

  .label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
    transition: 0.2s ease all;
    transition:
      top 0.2s ease,
      font-size 0.2s ease;
    font-size: 14px;
  }

  .errorMessage {
    color: red;
    margin-top: 2px;
    font-size: 12px;
    text-align: left;
  }
}
